.margintop{
    margin-top: 5rem;
}
body{
    height: 100%;
    width: 100%;
    position: relative;
}
.formDiv{
    width: 400px;
    margin: auto;
}
.float{
    transition: 0.5s;
}
.float:hover{
    transform: scale(1.05);
}
.checked{
    color: rgb(194, 194, 0);
}
.background-color{
    background-color: #7785AC;
}
.footer{
    position: absolute;
    width: 100%;
}