.margintop{
    margin-top: 5rem;
}
body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.formDiv{
    width: 400px;
    margin: auto;
}
.float{
    transition: 0.5s;
}
.float:hover{
    transform: scale(1.05);
}
.checked{
    color: rgb(194, 194, 0);
}
.background-color{
    background-color: #7785AC;
}
/* .footer{
    position: absolute;
    width: 100%;
    bottom:0;
} */
.parent{
    min-height: 75vh;
}
input[type=text] input[type=password] {
    min-width: 200px;
}