<%- layout('/layouts/boilerPlate') %>
<div class="formDiv">
  <h1 class="mb-5 text-center">ADD NEW PRODUCT</h1>
  <form action="/products/new" class="needs-validation" method="post" novalidate>
    <div class="form-group">
      <label for="name">Product name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price" id="price" placeholder="Price in $" required>
    </div>
    <div class="form-group">
      <label for="img">Image</label>
      <input type="text" class="form-control" name="img" id="img" placeholder="Image url" required>
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <textarea type="number" class="form-control" name="desc" id="desc" placeholder="Write product description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add</button>
  </form>
</div>